[submodule "external/m68k-recomp-core"]
	path = external/m68k-recomp-core
	url = ../m68k-recomp-core.git
[submodule "external/z80-recomp-core"]
	path = external/z80-recomp-core
	url = ../z80-recomp-core.git
[submodule "external/recomp-net"]
	path = external/recomp-net
	url = https://github.com/RetroPortingToolKit/recomp-net.git
[submodule "sonic3k/skdisasm"]
	path = sonic3k/skdisasm
	url = https://github.com/sonicretro/skdisasm.git
[submodule "sonicthehedgehog/s1disasm"]
	path = sonicthehedgehog/s1disasm
	url = https://github.com/sonicretro/s1disasm.git
[submodule "external/rbengine"]
	path = external/rbengine
	url = https://github.com/RetroPortingToolKit/rbengine.git
